apiVersion: v1
appVersion: "1.0.0"
description: A declarative helm chart for deploying common types of services on Kubernetes
name: monochart
version: 1.0.0
dependencies:
  - name: common
    version: 1.0.0
    repository: file://charts/common

  - name: dockercfg
    version: 1.0.0
    repository: file://charts/dockercfg
    import-values:
    - child: image.pullSecret
      parent: dockercfg.image.pullSecret
    condition: dockercfg.enabled